<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ config('app.site_name') }}</title>

    {#Toastr#}
    <link href="{{ file(['styles', 'plugins', 'toastr', 'toastr.css']) }}" rel="stylesheet">

    <link href="{{ file(['styles', 'style.css']) }}" rel="stylesheet">
  </head>

  {%- import '_macros/forms.html' as forms_macro -%}

  <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <div>
          <img src="{{ file(['images', 'logo_login.svg']) }}" style="max-width: 430px; margin-left: -64px; margin-bottom: 10px;">
        </div>
        <form class="m-t" role="form" method="post" action="{{ uri([ 'login' ]) }}">
          {% set placeholder = 'auth.login.form.email' %}
          {{ forms_macro.input_email('email', '', '', true, _context) }}
          {% set placeholder = '' %}

          {% set placeholder = 'auth.login.form.password' %}
          {{ forms_macro.input_password('password', '', '', true, _context) }}
          {% set placeholder = '' %}

          <button type="submit" class="btn btn-primary block full-width m-b">
            {{ i18n('auth.login.form.login_button') }}
          </button>
        </form>
      </div>
    </div>

    <script src="{{ file(['scripts', 'plugins', 'jquery', 'jquery-3.1.1.min.js']) }}"></script>
    <script src="{{ file(['scripts', 'plugins', 'bootstrap', 'bootstrap.min.js']) }}"></script>
  </body>
</html>

{#Toastr#}
<script src="{{ file(['scripts', 'plugins', 'toastr', 'toastr.min.js' ]) }}"></script>

{#Custom JS#}
<script src="{{ file(['scripts', 'scripts.js' ]) }}"></script>

<script>
  $(document).ready(function () {

    {% if flash is not empty %}
      {% if not flash[1] %}
        toastr.info("{{ flash }}");
      {% else %}
        toastr.{{ flash[1] }}("{{ flash[0] }}");
      {% endif %}
    {% endif %}
  });
</script>