{% extends '_layout/base.html' %}

{% block content %}
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group date" id="date-picker">
              <span class="input-group-addon">
                <span class="add-on">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
              <input class="form-control" type="text" value="">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group date" id="datetime-picker">
              <span class="input-group-addon">
                <span class="add-on">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
              <input class="form-control" type="text" value="">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group date" id="time-picker">
              <span class="input-group-addon">
                <span class="add-on">
                  <i class="fa fa-clock"></i>
                </span>
              </span>
              <input class="form-control" type="text" value="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



{% endblock %}