{% extends '_layout/base.html' %}

{% block content %}
  <div class="row">
    <div class="ibox-content">
      <div class="table-responsive">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <table class="table table-striped table-bordered table-hover dataTable" data-table-uri="{{ uri([ 'clients' ]) }}" id="clients-table">
            <thead>
            <tr>
              <th data-name="name">{{ i18n("clients.overview.table.name") }}</th>
              <th data-name="type">{{ i18n("clients.overview.table.type") }}</th>
              <th data-name="address">{{ i18n("clients.overview.table.address") }}</th>
              <th data-name="contact_name">{{ i18n("clients.overview.table.contact_name") }}</th>
              <th data-name="is_active">{{ i18n("clients.overview.table.is_active") }}</th>
              <th data-name="controls" data-sortable="false" data-searchable="false">{{ i18n("clients.overview.table.controls") }}</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  var clientsTable = $("#clients-table");

  var clientsDataTable = clientsTable.DataTable({
    serverSide: true,
    processing: true,
    iDisplayLength: 10,
    ajax: clientsTable.data("table-uri"),
    order: [[ 0, "asc" ]],
    sDom: "lrtip",
    stateSave: true,
    responsive: true,
    bLengthChange: false,
    autoWidth: false,
    searching: true,
    language: {
      url: "{{ file([ 'scripts', 'plugins', 'data-tables', 'i18n', self.language_code ~ '.json']) }}"
    }
  });

    var filters = $("tr.filter input, tr.filter select");

    filters.on('keyup change', function() {
      var column = clientsDataTable.column($(this).closest('td').index());

      if (column.search() !== this.value) {
        column
          .search(this.value)
          .draw();
      }
    });

    filters.each(function() {
      var column = clientsDataTable.column($(this).closest('td').index());
      column.search(this.value);
    });

    clientsDataTable.draw(false);
  </script>

{% endblock %}