<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="far fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a href="{{ uri([ 'logout' ]) }}">
          <i class="fa fa-sign-out"></i>{{ i18n('auth.logout.navigation.logout_button') }}
        </a>
      </li>
    </ul>
  </nav>
</div>