<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs profile-name">{{ self.full_name }}</span>
              <span class="text-muted text-xs block">{{ i18n('app.navigation.profile.quick_access') }}<b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a href="{{ uri([ 'users', 'me' ]) }}">
                <i class="fa fa-user quick-access-icon"></i>{{ i18n('app.navigation.profile.my_profile') }}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{{ uri([ 'logout' ]) }}">
                <i class="fa fa-door-open quick-access-icon"></i>{{ i18n('auth.logout.navigation.logout_button') }}
              </a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          <img src="{{ file(['images', 'logo.svg']) }}" style="max-width: 50px;">
        </div>
      </li>

      {% if self.permissions['clients.management'] %}
        {% include '_partials/navigation/_sections/clients.html' %}
      {% endif %}

      {% if self.permissions['users.management'] %}
        {% include '_partials/navigation/_sections/users.html' %}
      {% endif %}

      {% if self.permissions['cards.management'] %}
        {% include '_partials/navigation/_sections/cards.html' %}
      {% endif %}

    </ul>

  </div>
</nav>