{% macro input_text(name, label, value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <input type="text" class="form-control"
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value is not empty ? value }}"
        placeholder="{{ i18n(global.placeholder) }}"
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
        {{ global.ready_only ? 'readonly' }}
    >
  </div>
{% endmacro %}

{% macro input_number(name, label, value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <input type="number" class="form-control"
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value is not empty ? value }}"
        placeholder="{{ i18n(global.placeholder) }}"
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
        {{ global.ready_only ? 'readonly' }}
    >
  </div>
{% endmacro %}

{% macro select(name, label, options, default = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <select class="form-control js-select"
        id="{{ name }}"
        name="{{ name }}"
        title="{{ i18n(label) }}"
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
        {{ global.ready_only ? 'readonly' }}
    >
      {% for option in options %}
        {% if not required %}
          <option></option>
        {% endif %}
        <option value="{{ option.id }}" {{ default is not empty ? (option.id == default ? 'selected') }}>
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro input_email(name, label = '', value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <input type="email" class="form-control"
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value is not empty ? value }}"
        placeholder="{{ i18n(global.placeholder) }}"
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
        {{ global.ready_only ? 'readonly' }}
    >
  </div>
{% endmacro %}

{% macro input_password(name, label, pattern, required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <input type="password" class="form-control"
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value is not empty ? value }}"
        placeholder="{{ i18n(global.placeholder) }}"
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
        {{ global.ready_only ? 'readonly' }}
        {% if pattern is not empty %}pattern="{{ pattern }}"{% endif %}
    >
  </div>
{% endmacro %}

{% macro input_hidden(name, value, multiple = false) %}
  <input type="hidden" name="{{ name }}{{ multiple ? '[]' }}" id="{{ name }}" value="{{ value }}" required>
{% endmacro %}

{% macro checkbox(name, label, checked = false, required = false, global) %}
  <div class="checkbox checkbox-inline">
    <input name="{{ name }}" type="hidden" value="0" {{ disabled ? 'disabled' }} checked>
    <input type="checkbox"
        id="{{ name }}"
        name="{{ name }}"
        value="1"
        {{ checked ? 'checked' }}
        {{ required ? 'required' }}
        {{ global.disabled ? 'disabled' }}
    >

    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}
      </label>
    {% endif %}
  </div>
{% endmacro %}

{% macro input_datepicker(name, label = '', value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <div class="input-group date" id="date-picker">
      <span class="input-group-addon">
        <span class="add-on">
          <i class="fa fa-calendar"></i>
        </span>
      </span>

      <input type="text" class="form-control"
         id="{{ name }}"
         name="{{ name }}"
         value="{{ value is not empty ? value }}"
         placeholder="{{ i18n(global.placeholder) }}"
         {{ required ? 'required' }}
         {{ global.disabled ? 'disabled' }}
         {{ global.ready_only ? 'readonly' }}
      >
    </div>
  </div>
{% endmacro %}

{% macro input_datetimepicker(name, label = '', value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <div class="input-group date" id="datetime-picker">
      <span class="input-group-addon">
        <span class="add-on">
          <i class="fa fa-calendar"></i>
        </span>
      </span>

      <input type="text" class="form-control"
         id="{{ name }}"
         name="{{ name }}"
         value="{{ value is not empty ? value }}"
         placeholder="{{ i18n(global.placeholder) }}"
         {{ required ? 'required' }}
         {{ global.disabled ? 'disabled' }}
         {{ global.ready_only ? 'readonly' }}
      >
    </div>
  </div>
{% endmacro %}

{% macro input_timepicker(name, label = '', value = '', required = true, global) %}
  <div class="form-group">
    {% if label %}
      <label for="{{ name }}">
        {{ i18n(label) }}{% if required == true %}*{% endif %}
      </label>
    {% endif %}

    <div class="input-group date" id="time-picker">
      <span class="input-group-addon">
        <span class="add-on">
          <i class="fa fa-clock"></i>
        </span>
      </span>

      <input type="text" class="form-control"
         id="{{ name }}"
         name="{{ name }}"
         value="{{ value is not empty ? value }}"
         placeholder="{{ i18n(global.placeholder) }}"
         {{ required ? 'required' }}
         {{ global.disabled ? 'disabled' }}
         {{ global.ready_only ? 'readonly' }}
      >
    </div>
  </div>
{% endmacro %}