<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>
      {{ page_title }}

      {% if form_id is defined %}
        <button class="btn btn-sm btn-primary pull-right" id="form-submit-button" type="submit">
          <strong>{{ i18n('app.controls.submit') }}</strong>
        </button>
      {% endif %}
    </h2>
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li {% if loop.index == loop.last %} class="active" {% endif %}>
          {% if breadcrumb.url %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
          {% else %}
            <span>{{ breadcrumb.title }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>

